<div class="row">
  <div class="col-md-6">
    <div *ngIf="this.user" class="well well-sm">
      <h4>Users Detail</h4>
      <label>Location</label>
      <input type="text" class="form-control" [(ngModel)]="user.userName" />

      <label>Location</label>
      <input type="text" class="form-control" [(ngModel)]="user.password" />
      <label>Name</label>
      <input type="text" class="form-control" [(ngModel)]="user.firstName" />

      <label>Location</label>
      <input type="text" class="form-control" [(ngModel)]="user.lastName" />

      <button class="btn btn-primary" (click)="save()">Save</button>
      <button class="btn btn-default" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>
