
<div class="container">
  <div class="row">
    <div class="col-md-3"><strong>User Name</strong></div>
    <div class="col-md-3"><strong>Password</strong></div>
    <div class="col-md-3"><strong>First Name</strong></div>
    <div class="col-md-3"><strong>Last Name</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row" [style.cursor]="'pointer'" (click)="goToEdit(user.id)" >
        <div class="col-md-3">{{ user.userName }}</div>
        <div class="col-md-3">{{ user.password }}</div>
        <div class="col-md-3">{{ user.firstName }}</div>
        <div class="col-md-3">{{ user.lastName }}</div>
      </div>
    </li>
  </ul>
</div>
