
<div class="container">
  <div class="row">
    <div class="col-md-4"><strong>Name</strong></div>
    <div class="col-md-4"><strong>User Name</strong></div>
    <div class="col-md-4"><strong>First Name</strong></div>
    <div class="col-md-4"><strong>Last Name</strong></div>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users">
      <div class="row">        
        <div class="col-md-4">{{ user.userName }}</div>
        <div class="col-md-4">{{ user.password }}</div>
        <div class="col-md-4">{{ user.firstName }}</div>
        <div class="col-md-4">{{ user.lastName }}</div>
      </div>
    </li>
  </ul>
</div>
